################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Compendium2
/packages
/API/bin/Debug
/API/obj
